/*   global styles   */
body {
  background-color: #FFFEFC;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

header {
  background-color: #FFF8F2;
  font-size: 1.3em;
  font-weight: 400;
  padding: 20px 0;
}

footer {
  background-color: #FFF8F2;
  font-size: 0.95em;
  font-weight: 400;
  padding: 20px 75px 40px 75px;
}

/*   change highlight color, from w3schools   */
/* Code for Firefox */
::-moz-selection {
  background: #FFE8D3;
}

::selection {
  background: #FFE8D3;
}

.small-text {
  font-size: 0.95em;
  color: #646464;
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

.smaller-htext {
  font-size: 1.5em;
  color: #646464;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

.small-htext {
  font-size: 2em;
  color: #646464;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

.norm-text {
  font-size: 1.1em;
  color: #646464;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

.big-htext {
  font-size: 2.5em;
  color: #646464;
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

.bigger-htext {
  font-size: 3em;
  color: #646464;
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

.sub-htext {
  color: #FDA16E;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 5px !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

.orange-text {
  color: #FDA16E !important;
}

.remove-line {
  margin-bottom: 0;
  padding-bottom: 0;
}

.margin-up {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 30px !important;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.italicize {
  font-style: italic;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

#footer {
  margin: 0;
  padding: 0;
}

.white-text {
  color: #fff;
}

.feedback-red {
  color: #C71818;
}

.button {
  color: #F47563;
  background-color: #FFF8F2; /*rgba(255,172,99, 0.25)*/
  box-shadow: 0 0 0 1px rgb(244,117,99) inset;
  /*border-radius: 5px 5px;*/
  padding: 8px 15px;
  /*white-space: nowrap;*/
}

.tags {
  background-color: rgba(0,0,0, 0.15);
  /*border-radius: 5px 5px;*/
  padding: 5px 9px;;
  margin-left: 5px;
  margin-right: 5px;
}

.row {
  margin-left: 75px;
  margin-right: 75px;
}

.form-group {
  margin-bottom: 30px; /* adding bottom margin to grid items */
}

.max-100width {
  max-width: 100%;
}

/*** sourced from w3schools ***/
/* Dropdown Button */
.dropbtn {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #FFF8F2;
  border: solid 2px rgba(255,255,255,0.9);
  border-radius: 0;
  font-size: 0.8em;
  display: none;
  position: absolute;
  margin-left: -10px;
  min-width: 130px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #FFF8F2;
  font-style: italic;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  font-style: italic;
}

/* adjust margins & paddings for screen size less than 420px */
@media (max-width: 420px) {
  .work-description {
    font-size: 1.4em;
  }
}

/* adjust margins & paddings for screen size more than 420px */
@media (min-width: 421px) {
  .work-description {
    font-size: 2em;
  }
}

/* adjust margins & paddings for screen size less than 767px */
@media (max-width: 767px) {
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }

  .work-bio {
    padding: 40px 50px;
  }

  #work-bio.form-group {
    margin-bottom: 0;
  }

  .work-logo {
    display: block;
    height: auto;
    max-width: 80%;
    padding-top: 70px;
  }

  .about-bio {
    margin-left: 25px;
    margin-right: 25px;
  }

  header {
    padding: 20px;
  }

  footer {
    padding: 20px 20px 30px 25px;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

/* adjust margins & paddings for screen size more than 768px */
@media (min-width: 768px) {
    .vertical-align {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    #right {
      text-align: right;
    }

    .work-bio {
        padding: 100px 0;
    }

    .work-logo {
      display: block;
      height: auto;
      max-width: 60%;
      padding-top: 70px;
    }

    #work-container{
      margin: 0 auto;
      width: 700px;
    }

    .shallmake-space{
      margin-top: 130px;
    }

    .no-left-padding {
      padding-left: 0;
    }

    #no-left-padding{
      padding-left: 0;
    }

    .no-right-padding {
      padding-right: 0;
    }

}

/* adjust for screen size less than 991px */
@media (max-width: 991px) {
  .sidebar-container {
    display: none;
  }
}

/* adjust for screen size more than 992px */
@media (min-width: 992px) {
  .sidebar-container {
    padding-top: 300px;
    position: fixed;
    z-index: 0;
  }

  .table-padding {
    padding-left: 3px;
    padding-right: 3px;
  }

}

/* adjust margins & paddings for screen size more than 1200px */
@media (min-width: 1200px) {
    .container{
      margin: 0 auto !important;
      width: 1000px !important;
    }

    #junto-container, #creart-container, #shallmake-container, #bunbun-container {
      margin: 0 auto;
      width: 1000px;
    }
}

/* text size of logo */
#logo {
  font-size: 1.3em;
}

/*   styling links   */

a, .figma-link-jump {
  color: #F47563;
  cursor: pointer;
  text-decoration: none;
  transition: .2s ease;
}

a:link {
  text-decoration: none;
}


a:hover, .figma-link-jump:hover {
  color: #F7C599;
  cursor: pointer;
  text-decoration: none;
  transition: .2s ease;
}

.underline {
  color: #F47563;
  text-decoration: none;
  background-image: linear-gradient(#FDA16E, #FDA16E);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a.underline:hover, a.underline:focus {
  background-size: 100% 2px;
  text-decoration: none;
  color: #FDA16E;
}

.italic:hover {
  font-style: italic;
}

/************ HOME/ WORK PAGE ************/

/* bio and picture styling */

.work-bio {
  background-color: #FBE2CA; /*FFF0E3*/
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.work-description {
  overflow: auto;
}


/*scroll down arrow animation from https://codepen.io/pmcgriff/pen/myKGZg*/
html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(arrows-down.svg);
	background-size: contain;
	background-repeat: no-repeat;
  position: absolute;
  top: 88vh;
}

.ca3-scroll-down-link {
  cursor: pointer;
	height: 8vh;
	width: 8vh;
	margin: 0px 0 0 -4vh;
  padding-right: 5vh;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

/*
.arrow-down {
  cursor: pointer;
  height: 5vh;
  position: absolute;
  top: 90vh;
}*/

/*portfolio items styling */

.vertical-center {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.work-items {
  padding-top: 75px;
}

.bunbun-work, .junto-work, .shallmake-work, .creart-work {
  background-color: #FFF8F2;
  height: 320px;
}

.bunbun-img, .junto-img, .shallmake-img, .creart-img {
  display: block;
  margin: auto;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* styling the overlay text on each portfolio item*/
.overlay-work-items {
  background: rgba(255,254,252, 0.9);
  height: 100%;
  left: 50%;
  margin: auto;
  padding: 30px 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .4s ease;
  width: 100%;
}

#bunbun-overlay, #junto-overlay, #shallmake-overlay, #creart-overlay { /*hide the overlay first*/
  opacity: 0;
}

#bunbun-view, #junto-view, #creart-view, #shallmake-view {
  transition: .15s ease;
  z-index: 2;
}


#junto-view:hover, #bunbun-view:hover, #shallmake-view:hover, #creart-view:hover  { /* darken color of button upon hover */
  background-color: #F47563;
  /*box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.25);*/
  color: #FFF;
  transition: .15s ease;
}

#bunbun-work:hover #bunbun-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

#junto-work:hover #junto-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

#shallmake-work:hover #shallmake-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

#creart-work:hover #creart-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

/** for headroom **/
.headroom {
  transition: transform 0.25s ease-in-out 0s;
  will-change: transform;
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.header--fixed {
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

/** end of section for headroom **/

/************ ABOUT PAGE ************/

.about-bio {
  margin-bottom: 20px;
  margin-top: 125px;
}

.about-image {
  display: block;
  margin: auto;
  max-width: 100%;
}

.about-description {
  display: inline;
  font-size: 1.35em;
  overflow: auto;
}

#hover-image { /* styling the overlay text on each portfolio item*/
  color: #fff;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  width: 100%;
}

#hidden-image { /*hide the overlay first*/
  opacity: 0;
  transition: .2s ease;
}

#about-image:hover #hidden-image { /* make overlay visible upon hover */
  opacity: 1;
  transition: .2s ease;
}

/************ BUNBUN PAGE ************/

.project-header {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #FFFEFC;
}

.header-image {
  display: block;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}

.placeholder-wrapper {
  position: relative;
  display: block;
  height: 100vh;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.placeholder-image {
  position: relative;
  display: block;
  height: 100vh;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.placeholder-loading {
  position: absolute;
  display: block;
  height: 100vh;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

#header-subtext {
  font-size: 1.6em;
  color: #646464;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
}

#arrow-container {
  text-align: center;
  padding-right: 7vh;
}

#arrow-down {
  height: 7vh;
  position: absolute;
  top: 85vh;
  cursor: pointer;
}

#background {
  padding-top: 50px;
  text-align: center;
}

#project-header-container {
  margin-top: 50vh;
  width: 100%;
}

#project-header-text {
  background: rgba(255,254,252,0.9);
  padding: 20px;
}

.bunbun-project-page {
  margin-bottom: 100px;
  margin-top: 30px;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.space{
  height: 120px;
  background: #FFFEFC;
  z-index: 5;
  position: relative;
}

.small-padding-bottom {
  margin-bottom: 15px;
}

.timeline {
  background-color: #FFF8F2;
  border-radius: 3px 3px;
  margin-top: 20px;
  padding: 10px;
  z-index: 3;
}

.bunbun-titleimg {
  max-height: 100%;
  max-width: 100%;
}

.content-text {
  font-size: 1.4em;
  line-height: 40px;
}


.sidebar-container {
  font-size: 1em;
  line-height: 30px;
}

.title {
  margin-bottom: 20px;
  margin-top: -50px;
  padding-top: 120px;
  text-align: center;
}

.other-projects {
  margin-top: 150px;
  padding-bottom: 10px;
  text-align: center;
}

.bg-title {
  margin-bottom: 20px;
  margin-top: -10px;
  padding-top: 70px;
  text-align: center;
}

.overlaying-image {
  left: 0;
  position: relative;
  top: 0;
}

.under-overlay {
  left: 0;
  position: relative;
  top: 0;
  z-index: 0;
}

.overlay-text {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}

.over-overlay {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}

.carousel-control.right {
  background: none;
}

.carousel-control.left {
  background: none;
}

.carousel-indicators li {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  height: 9px;
  width: 9px;
}

.bunbun-project, .junto-project, .shallmake-project, .creart-project {
  background-color: #FFF8F2;
  height: 150px;
}

.bunbun-img-project, .junto-img-project, .shallmake-img-project, .creart-img-project {
  display: block;
  margin: auto;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}

.overlay-project-items { /* styling the overlay text on each portfolio item*/
  background: rgba(255,254,252, 0.9);;
  color: #fff;
  height: 100%;
  left: 50%;
  padding: 30px 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  width: 100%;
}

#bunbun-overlay-project, #junto-overlay-project, #shallmake-overlay-project, #creart-overlay-project { /*hide the overlay first*/
  opacity: 0;
}

#bunbun-project:hover #bunbun-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}

#junto-project:hover #junto-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}

#shallmake-project:hover #shallmake-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}

#creart-project:hover #creart-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}

.view-final {
  text-align: center;
}

.footer-margin {
  margin-bottom: 100px;
}

/************ JUNTO PAGE ************/

#junto-figma-container {
  text-align: center;
}

#medfi-carousel {
  margin: auto;
  max-width: 400px;
}

/** sourced from w3schools **/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #FFF8F2;
  color: #646464;
  cursor: pointer;
  padding: 3px 8px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
  border-radius: 5px 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-accordion, .accordion:hover {
  background-color: #FFEAD8;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
  max-height: 0;
  outline: none;
  overflow: hidden;
  padding: 0 13px;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  float: right;
  font-size: 1.1em;
  color: #646464;
  content: '+';
  margin-left: 6px;
}

.active-accordion:after {
  content: "-";
}

/**** figma ****/

.figma {
  align-items: center;
  border: none;
  box-shadow: none;
  display: flex;
  height: 600px;
  margin: auto;
  width: 100%;
}

/************ CREART PAGE ************/
.horizontal-scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.hor-scroll-item {
  display: inline-block;
  max-height: 400px;
}

/************ SIDENAV BAR ************/
.nav>li>a {
  padding: 0 10px;
}

.nav-pills>li>a { /*color inactive*/
  border-left: 6px solid #FFF8F2;
  border-radius: 0;
  color: #FDA16E;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ /*color on select or active*/
  color: #F47563;
  background-color: transparent;
  border-left: 6px solid #F47563;
  font-weight: 600;
}

.nav>li>a:focus, .nav>li>a:hover{ /*color on hover*/
  background-color: transparent;
  color: #FFEAD8;
}
