/*   global styles   */
body {
  background-color: #FFF1E6;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: #FFEAD8;
  font-size: 1.3em;
  font-weight: 400;
  padding: 20px 0;
}

footer {
  background-color: #FFEAD8;
  font-size: 1em;
  font-weight: 400;
  padding: 20px 75px 40px 75px;
}

/* change highlight color, from w3schools */
::-moz-selection { /* Code for Firefox */
  background: #FFE8D3;
}

::selection {
  background: #FFE8D3;
}

.text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, "Rubik", sans-serif;
  color: #646464;
}

.norm-p-size {
  font-size: 1.35em;
}

.big-htext {
  font-size: 2.2em;
}

.small-htext {
  font-size: 1.7em;
}

.remove-line {
  margin-bottom: 0;
  padding-bottom: 0;
}

.margin-up {
  margin-top: 30px;
}

.bold {
  font-weight: 700;
}

.italicize {
  font-style: italic;
}

.white-text {
  color: #fff;
}

.button {
  color: #F27F40;
  background-color: rgba(255,172,99, 0.15);
  box-shadow: 0px 0px 0px 1px rgb(242,127,64) inset;
  border-radius: 5px;
  padding: 8px 15px;
}

.row {
  margin-left: 75px;
  margin-right: 75px;
}

.form-group {
  margin-bottom: 30px; /* adding bottom margin to grid items */
}

.max-100width {
  max-width: 100%;
}


@media (max-width: 420px) { /* adjust margins & paddings for screen size less than 420px */
  .work-description {
    font-size: 1.4em;
  }
}



@media (min-width: 421px) { /* adjust margins & paddings for screen size more than 420px */
  .work-description {
    font-size: 2em;
  }
}

@media (max-width: 767px) { /* adjust margins & paddings for screen size less than 767px */
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }

  .work-bio {
    padding: 40px 50px;
  }

  #work-bio.form-group {
    margin-bottom: 0px;
  }

  .work-logo {
    padding-top: 70px;
    height: auto;
    max-width: 80%;
    display: block;
  }

  .about-bio {
    margin-left: 25px;
    margin-right: 25px;
  }

  header {
    padding: 20px;
  }

  footer {
    padding: 20px 20px 30px 25px;
  }
}


@media (min-width: 768px) { /* adjust margins & paddings for screen size more than 768px */
    .vertical-align {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .work-bio {
        padding: 100px 0;
    }

    .work-logo {
      padding-top: 70px;
      height: auto;
      max-width: 60%;
      display: block;
    }

    #work-container{
      width: 700px;
      margin: 0 auto;
    }

}

@media (min-width: 1380px) { /* adjust margins & paddings for screen size more than 1380px */
    #container{
      width: 1280px;
      margin: 0 auto;
    }

    .sidebar-container {
      position: fixed;
    }
}

/* text size of logo */
#logo {
  font-size: 1.3em;
}

/*   styling links   */

a {
  color: #F27F40;
  text-decoration: none;
  transition: .2s ease;
}


a:hover {
  color: #F7C599;
  text-decoration: none;
  transition: .2s ease;
}

.italic:hover {
  font-style: italic;
}

/************ HOME/ WORK PAGE ************/

/* bio and picture styling */

.work-bio {
  background-color: #FFE1C7;
  height: 100vh;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.work-description {
  overflow: auto;
}

.work-arrow {
  text-align: center;
}

.arrow-down {
  cursor: pointer;
  height: 5vh;
  top: 90vh;
  position: absolute;
}

/*portfolio items styling */
.work-items {
  padding-top: 75px;
}

.bunbun-work {
  background-color: #FFF5CD;
  height: 320px;
}

.junto-work {
  background-color: #B2ABC0;
  height: 320px;
}

.comyoot-work {
  background-color: #97A0B3;
  height: 320px;
}

.creart-work {
  background-color: #CEB3A7;
  height: 320px;
}

.bunbun-img, .junto-img, .comyoot-img, .creart-img {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
}

.overlay-work-items { /* styling the overlay text on each portfolio item*/
  top: 50%;
  left: 50%;
  background: rgba(255,241,230, 0.6);
  transition: .5s ease;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 30px 40px;
}

#bunbun-overlay, #junto-overlay, #comyoot-overlay, #creart-overlay { /*hide the overlay first*/
  opacity: 0;
}

#bunbun-view, #junto-view, #creart-view, #comyoot-view {
  transition: .3s ease;
}

#bunbun-work:hover #bunbun-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

#bunbun-view:hover { /* darken color of button upon hover */
  color: #F6F7F1;
  background-color: #F27F40;
  box-shadow: 0px 0px 0px 0px;
  transition: .5s ease;
}

#junto-work:hover #junto-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

#junto-view:hover { /* darken color of button upon hover */
  color: #F6F7F1;
  background-color: #F27F40;
  box-shadow: 0px 0px 0px 0px;
  transition: .5s ease;
}

#comyoot-work:hover #comyoot-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

#comyoot-view:hover { /* darken color of button upon hover */
  color: #F6F7F1;
  background-color: #F27F40;
  box-shadow: 0px 0px 0px 0px;
  transition: .5s ease;
}

#creart-work:hover #creart-overlay { /* make overlay visible upon hover */
  opacity: 1;
}

#creart-view:hover { /* darken color of button upon hover */
  color: #F6F7F1;
  background-color: #F27F40;
  box-shadow: 0px 0px 0px 0px;
  transition: .5s ease;
}

/** for headroom **/
.headroom {
  transition: transform 0.25s ease-in-out 0s;
  will-change: transform;
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

/** end of section for headroom **/

/************ ABOUT PAGE ************/

.about-bio {
  margin-top: 125px;
  margin-bottom: 20px;
}

.about-image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.about-description {
  font-size: 1.35em;
  display: inline;
  overflow: auto;
}

#hover-image { /* styling the overlay text on each portfolio item*/
  top: 50%;
  left: 50%;
  transition: .5s ease;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #fff;
}

#hidden-image { /*hide the overlay first*/
  opacity: 0;
  transition: .2s ease;
}

#about-image:hover #hidden-image { /* make overlay visible upon hover */
  opacity: 1;
  transition: .2s ease;
}

/************ BUNBUN PAGE ************/

.bunbun-project-page {
  margin-top: 30px;
  margin-bottom: 100px;
}

.space{
  margin-top: 125px;
  margin-bottom: 20px;
}

.timeline {
  background-color: #FFF9F4;
  border-radius: 3px;
  padding: 15px;
  margin-top: 20px;
}

.bunbun-titleimg {
  max-height: 100%;
  max-width: 100%;
}

.content-text {
  font-size: 1.4em;
  line-height: 40px;
}

ul.sidebar-list { /* removing bullet points from unordered list*/
  list-style-type: none;
  padding-left: 10px;
  line-height: 35px;
  border-left: solid #E7E8E2;
  cursor: pointer;
}

.sidebar-container {
  padding-top: 20px;
  font-size: 1.25em;
  line-height: 38px;
}

.title {
  margin-bottom: 10px;
  margin-top: 50px;
}

.bunbun-project {
  background-color: #F9F4E1;
  height: 150px;
}

.junto-project {
  background-color: #B2ABC0;
  height: 150px;
}

.comyoot-project {
  background-color: #97A0B3;
  height: 150px;
}

.creart-project {
  background-color: #CEB3A7;
  height: 150px;
}

.bunbun-img-project, .junto-img-project, .comyoot-img-project, .creart-img-project {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 40%;
}

.overlay-project-items { /* styling the overlay text on each portfolio item*/
  top: 50%;
  left: 50%;
  background: rgba(246,247,241, 0.7);
  transition: .5s ease;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 30px 40px;
}

#bunbun-overlay-project, #junto-overlay-project, #comyoot-overlay-project, #creart-overlay-project { /*hide the overlay first*/
  opacity: 0;
}

#bunbun-project:hover #bunbun-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}

#junto-project:hover #junto-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}

#comyoot-project:hover #comyoot-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}

#creart-project:hover #creart-overlay-project { /* make overlay visible upon hover */
  opacity: 1;
}
