.home {
	grid-area: b;
}

.about {
	grid-area: c;
}

.menu {
	grid-area: d;
	border-bottom: 3px solid #FDE19A;
}

/********** BODY **********/

.original-flavor {
	margin: 30px 100px 100px 100px;
	display: grid;
	grid-template-areas:
	"a a a a"
	"b b c c"
	"b b d d";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 80px;
	grid-template-rows: auto;
}

.breadcrumbs {
	grid-area: a;
	padding: 0;
	margin: 0;
}

#origImage {
	grid-area: b;
	width: 100%;
}

#original-text {
	grid-area: c;
}

#original-text h5 {
	margin-top: 10px;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 10px;
}

.customize-rolls {
	grid-area: d;
	position: relative;
	margin-top: 30px;
}

.customize-rolls form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 20px;
	grid-template-areas:
	"e f"
	"g h"
	"i j"
	"k k";
}

#glaze-label {
	grid-area: e;
}

.glaze-class {
	grid-area: f;
	font-size: 15px;
	width: 150px;
	padding: 2px 20px 0 0;
	background: #fff url(arrow-up-down.png) no-repeat 95% 50%;
	border: 0.6px solid rgba(86, 77, 70, 0.3);
	border-radius: 5px;
	position: relative;
	font-family: 'Nunito Sans', 'Cabin', sans-serif;
	color: #564D46;
	cursor: pointer;
	text-align-last: center;
}

.glaze-class select {
	font-family: 'Nunito Sans', 'Cabin', sans-serif;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
	position: relative;
	z-index: 3;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #564D46;
	cursor: pointer;
	text-align-last: center;
}

.glaze-class select:focus{
	outline: none;
}

.glaze-class select:hover {
	color: #928378;
}

#roll-label {
	grid-area: g;
}

.roll-class {
	grid-area: h;
	font-size: 15px;
	width: 150px;
	padding: 2px 20px 0 0;
	background: #fff url(arrow-up-down.png) no-repeat 95% 50%;
	border: 0.6px solid rgba(86, 77, 70, 0.3);
	border-radius: 5px;
	position: relative;
	font-family: 'Nunito Sans', 'Cabin', sans-serif;
	color: #564D46;
	cursor: pointer;
	text-align-last: center;
}

.roll-class select {
	font-family: 'Nunito Sans', 'Cabin', sans-serif;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
	position: relative;
	z-index: 3;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #564D46;
	cursor: pointer;
	text-align-last: center;
	width: 130px;
}

.roll-class select:focus{
	outline: none;
}

.roll-class select:hover {
	color: #928378;
}

#box-label {
	grid-area: i;
}

.box-class {
	grid-area: j;
	width: 160px;
	font-size: 15px;
	padding: 2px 0 0 10px;
	background: #fff;
	border: 0.6px solid rgba(86, 77, 70, 0.3);
	border-radius: 5px;
	position: relative;
	font-family: 'Nunito Sans', 'Cabin', sans-serif;
	color: #564D46;
	cursor: pointer;
	text-align: center;
}

.box-class input {
	font-family: 'Nunito Sans', 'Cabin', sans-serif;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
	position: relative;
	z-index: 3;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #564D46;
	cursor: pointer;
	text-align: center;
}

.box-class input:focus{
	outline: none;
}

.adding {
	grid-area: k;
	display: grid;
	grid-template-areas:
	"l m n";
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 50px;
}

#priceOriginal {
	z-index: 3;
	grid-area: l;
}

.to-wishlist {
	grid-area: m;
}

.to-cart {
	grid-area: n;
}

.add {
	position: relative;
	float: right;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	z-index: 3;
}

.add input[type=button] {
	line-height: 20px;
	width: 190px;
	padding: 10px 30px;
	text-align: center;
	border-radius: 20px;
	background-color: #FDE19A;
	cursor: pointer;
	border: none;
	font-family: 'Nunito Sans', 'Cabin', sans-serif;
	color: #564D46;
	font-size: 20px;
}

form input[type=button]:hover {
	color: #FDE19A;
	background-color: #564D46;
}
